out
node_modules
client/server
.vscode-test
.idea

plugins/vscode/8051-support/yarn-error.log

target
*/target/
*/target/*

.vs
bin
obj
server/asm8051_localize/locales/
server/asm8051_lsp/locales/
server/asm8051_parser/locales/
server/asm8051_shared/locales/
